
/*  Parte Iniziale con titolo */
header{
    background-image: url('../img/pattern.png');
    background-color: dodgerblue;
    height: 160px;;

}

.logo{
    position: absolute;
    top: 100px;
    left: 20px;
    width: 200px;
}


h1 {
    font-size: 50px;

} 

h5{
   line-height: 1px;
} 

h6{
    line-height: 1px;
}
 
.evidenziato{
    background-color: yellow;
}
/*  TABELLA */

.intestazione{
    color: aliceblue;
    background-color: dodgerblue;
    text-align: left;
}

/*  BODY */
.body{
    background-color: aqua;
    text-align: left;
    height: 50px;
   }

.body2{
    height: 50px;
    
}

/*  Fine tabella */
.tfoot{
    background-color: aqua;
    height: 50px;
}



h4{
    color: gray;
}

