
/*  Parte Iniziale con titolo */
header{
    background-image: url('../img/pattern.png');
    background-color: dodgerblue;
    height: 160px;;

}

.logo{
    position: absolute;
    top: 100px;
    left: 20px;
    width: 200px;
}

h1{
    width: 555px;
    height: 30px;
}

p {
    height: 0px;
} 


.pScrittablu{
    color: dodgerblue;

}

.scrittagrigia{
    color: gray;
}


.evidenziato{
    background-color: yellow;
}
/*  TABELLA */

.intestazione{
    color: aliceblue;
    background-color: dodgerblue;
    
}

/*  BODY */
.body{
    
    background-color: aqua;
    text-align: left;
    height: 50px;
    
   }

.body2{
    height: 50px;
   
}

/*  Fine tabella */
.tfoot{
    background-color: aqua;
    height: 50px;
}



.p{
    color: gray;
}

